.checkboxes, .checkboxes_css{
	margin: 5px;
	background: #99CCFF;
	padding: 10px;
}
.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox.png);
	overflow: hidden;
}
.niceChecked {
	background-position: 0 -17px;
}
.niceCheck input {
	margin-left: -100px;
}
.select div, div p {
	margin-bottom: 10px;
}
.niceCheckDisabled {
	background-image: url(../img/checkbox-disabled.png);
}
