body {

}

.main {
  margin: 0 144px 0 152px;
  padding: 0 46px 0 ;
  background-color: grey;
}

.header{
  margin-top: 50px;
  margin-left: 46px;
}

ul{
  margin-top: 40px;
}
ul.menu li{
  display: inline;
}

.image {
  background-image: url("image.png");
  position: absolute;
  left: 577px;
  top: 257px;
  width: 500px;
  height: 307px;
  z-index: 15;
}
