$bgcolor: 	#fff;
$color:   	#000;
$widthwr:		1920px;
$width:   	1160px;
$fontbold:    	'Ubuntu Medium', arial;
$fontlight:    	'Ubuntu Condensed', arial;
*{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

body{
  background: $bgcolor;
  color: $color;
  font-family:$fontbold;
}
.wrapper,
.galery{
  width: $widthwr;
	margin: 0 auto;
}
nav,
.slider,
.three-col,
.galery__photo{
	width: $width;
	margin: 0 auto;
}
.top{
	margin: 35px auto;
}
.logo{
  float: left;
}
.menu{
  float: right;
	width: auto;
	margin-top: 10px;
}
.menu__item{
	margin-left: 17px;
	display: inline-block;
	list-style: none;
}
.menu__link{
	text-decoration: none;
}
.fb,
.tw,
.rss,
.in,
.sk{
	width: 18px;
	height: 18px;
	background: url(../img/sn.png) 0 0 no-repeat;
}
.fb{
	width: 11px;
}
.tw{
	width: 17px;
	background-position: -12px 0;
}
.rss{
	background-position: -28px 0;
}
.in{
	background-position: -46px 0;
}
.sk{
	background-position: -63px 0;
}
.fb:hover{
	background-position: 0 -20px;
}
.tw:hover{
	background-position: -12px -20px;
}
.rss:hover{
	background-position: -28px -20px;
}
.in:hover{
	background-position: -46px -20px;
}
.sk:hover{
	background-position: -63px -20px;
}
.bottom{
	height: 60px;
	background: #2a2d32;
}
.menu--main{
	float: left;
	width: auto;
	.menu__item{
		margin: 0;
		border-right: 2px solid $color;
	}
	.active{
		background: #248cec;
	}
	.menu__link{
		display: block;
		font-family: $fontlight;
		padding: 22px 40px;
		color: $bgcolor;
		box-sizing: border-box;
	}
	.menu__link:hover{
		color: #f4b60d;
	}
}
.search{
	float: right;
	margin: 11px;
	width: 240px;
	height: 40px;
	border: 2px solid $color;
	box-sizing: border-box;
	background: #35383c;
}
.search__text{
	width: 200px;
	height: 36px;
	color: #4c4e52;
	float:left;
	padding: 14px;
	box-sizing: border-box;
	border: none;
	background: transparent;
}
.search__btn {
    width: 36px;
    height: 36px;
		float: right;
    border: none;
    background: url(../img/search.png) center no-repeat;
   }
.slider{
	margin-top: 40px;
}
.info{
	margin-top: 70px;
}
.three-col{

}
.three-col__info{
	margin-left: 120px;
}
.three-col__first,
.three-col__second,
.three-col__third{
	float: left;
	width: 33%;
}
.numb{
	color: #e9e9ea;
	font-size: 65px;
	// margin-right:
	float: left;
}
.icon__first,
.icon__second,
.icon__third{
	width: 35px;
	height: 35px;
	margin-bottom: 17px;
	background: url(../img/set.png) 0 0 no-repeat;
}
.icon__second{
	background-position: -35px 0;
}
.icon__third{
	background-position: -70px 0;
}
.three-col__title,
.three-col__text{
	margin-bottom: 25px;
}

.three-col__text{
	font-family: 'Arial Regular';
	font-size: 13px;
	color: #8a8a8a;
}
.three-col__link{
	float: left;
	display: block;
	font-family: $fontlight;
	text-decoration: none;
	color: $color;
}

.three-col__link:hover,
.strelka:hover{
	color: #248cec;
}
.three-col__link:hover .strelka{
	background-position: -13px 0;
}
.strelka{
	width: 10px;
	height: 20px;
	background: url(../img/strelka.png) 0 center no-repeat;
	margin-left: 75px
	}
.strelka:hover{
	background-position: -11px center;
	cursor: pointer;
}
.strelka:hover .three-col__link{
	color: #248cec;
}
.galery{
	background: #2a2d32;

}
.galery__title{
	color: $bgcolor;
	font-size: 20px;
}
.galery__photo{

}
.photo{
	float: left;
}
.photo:hover{

}
.sign{
	text-align: center;
	color: $bgcolor;
	font-size: 15px;
	font-family: $fontlight;
}
.img1,
.img2,
.img3,
.img4{
	width: 260px;
	height:260px;
}
.img1{
	background: url(../img/services.png) 0 0 no-repeat;
}
.img2{
	background: url(../img/services.png) -261px 0 no-repeat;
}
.img3{
	background: url(../img/services.png) -522px 0 no-repeat;
}
.img4{
	background: url(../img/services.png) -783px 0 no-repeat;
}
