body{
  background-image: url("../img/background.png");
  background-repeat: repeat-x;
  background-color: #0c739f;
}

a:link {
  color: rgba(18, 138, 167, 0.8);
}

a:visited {
  color: rgba(18, 138, 167, 0.8);
}

.header{
  /*position: relative;*/
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.75);
}

.logo{
  height: 174px;
  float: left;
}

.clearfix:after {
  content:'';
  clear: both;
  display: block;
  visibility:hidden;
}

.contacts{
  width: 157px;
  padding-top: 11px;
  float: right;
  font-size: 12px;
  /*font-family: "Tahoma";*/
  color: rgba(18, 138, 167, 0.8);
  text-align: left;
}
.contacts p {
  height: 20px;
}
.countries {
  float: right;
  position: relative;
  bottom: -109px;
  right: -138px;
}
.countries li {
  width: 60px;
  display: inline-block;
  font-size: 12px;
}
.photos{
  height: 236px;
  overflow: hidden;
}
.photos img{
  display: block;
}

div#menu {
    height: 31px;
}

.menu {
  position: absolute;
  width: 935px;
  margin-top: -3px;
  padding: 0 0 0 65px;
  background-color: #343434;
  box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
  border-bottom: 1px solid black;
  z-index: 4;
}

.menu li {
  float: left;
  position: relative;
}

.menu li a {
  display: block;
  padding: 7px 55px 10px 0;
  color: white;
  text-decoration: none;
}

.submenu {
  display: none;
  position: absolute;
  width:152px;
  left:0px;
  top:33px;
  border-top: 1px solid  black;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color:  #343434;
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
  z-index:2;
}

.submenu li {
  display: block;
}

.submenu li a{
  display: block;
  padding: 0 45px 0 15px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
.menu li a:hover {
  color:#4cbae1;
}
.menu li:hover .submenu   {
  display: block;
}

 #container3 {
    float:left;
    width:100%;
    background: #edeef0;
    overflow:hidden;
    position:relative;
    font-size: 18px;
}

#container2 {
    float:left;
    width:100%;
    background:white;
    position:relative;
    right:30%;
}

#container1 {
    float:left;
    width:100%;
    background: #edeef0;
    position:relative;
    right:40%;
}

#col1 {
    float:left;
    width:26%;
    padding-top:  12px;
    position:relative;
    left:72%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:36%;
    padding-top:  12px;
    position:relative;
    left:76%;
    overflow:hidden;
}
#col3 {
    float:left;
    width:26%;
    padding-top:  12px;
    position:relative;
    left:80%;
    overflow:hidden;
}

.col li{
  line-height: 24px;
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(66, 76, 67);
    
}

.footer {
    padding: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
}