body{
  background-image: url("../img/background.png");
  background-repeat: repeat-x;
  background-color: #0c739f;
}

a:link {
  color: rgba(18, 138, 167, 0.8);
}

a:visited {
  color: rgba(18, 138, 167, 0.8);
}

.header{
  /*position: relative;*/
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.75);
}

.logo{
  height: 174px;
  float: left;
}

.clearfix:after {
  content:'';
  clear: both;
  display: block;
  visibility:hidden;
}

.contacts{
  width: 157px;
  padding-top: 11px;
  float: right;
  font-size: 12px;
  /*font-family: "Tahoma";*/
  color: rgba(18, 138, 167, 0.8);
  text-align: left;
}
.contacts p {
  height: 20px;
}
.countries {
  float: right;
  position: relative;
  bottom: -109px;
  right: -138px;
}
.countries li {
  width: 60px;
  display: inline-block;
  font-size: 12px;
}
.photos{
  height: 236px;
  overflow: hidden;
}
.photos img{
  display: block;
}
ul.menu {
    padding: 0 0 0 65px;
    width: 935px;
    background-color: #343434;
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    border-bottom: 1px solid black;
    z-index: 4;
}
ul.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    width: 120px;
    position: absolute;
    display: none;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
    z-index: 2;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

.container{
  position: relative;
  z-index: 1;
}
.left_block{
  height: 546px;
  width: 208px;
  float: left;
  background-color: #edeef0;
  border-right: 1px solid #c7cacf;
  border-left: 1px solid #c7cacf;
  z-index: 1;
}
.h2_left_block{
  padding-top:  12px;
  padding-left: 50px;
  font-size: 18px;

}
ul.list_left{
  padding-left: 15px;
}

ul.list_left li{
  line-height: 24px;
}

ul.list_left>li>p{
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(66, 76, 67);
}

.right_block{
  height: 515px;
  width: 208px;
  float: right;
  z-index: 1;
  /*position: absolute;*/
  /*top: 37px;*/
  background-color: #edeef0;
  /*border-right: 1px solid #c7cacf;*/
  border-left: 1px solid #c7cacf;
}

.h2_right_block{
  padding-top:  12px;
  padding-left: 50px;
  font-size: 18px;
}

.right_block ul.right_block li{
  padding-left: 15px;
}

ul.right_block li{
  line-height: 24px;
}

ul.right_block>li>p{
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(66, 76, 67);
}
